.avatar img {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 33vh;
}

.col-1 img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
