<div class="sticky top-0 pt-2">
  @if (set != null) {
    <p-card>
      <ng-template #header>
        <div class="text-center img-container">
          <img [alt]="set.id" [src]="set.images.logo">
        </div>
      </ng-template>
      <ng-template #title>
        <div class="line">
          <span><strong>{{ set.name }}</strong></span>
          <span>
          ID: <strong>{{ set.id }}</strong> | TCGOnline Code: <strong>{{ set.ptcgoCode }}</strong>
          </span>
        </div>
      </ng-template>
      <p-divider align="center" type="dashed">
        <strong>Information</strong>
      </p-divider>
      <div class="line">
        <span><strong>Release Date:</strong></span>
        {{ set.releaseDate }}
      </div>
      <p-divider></p-divider>
      <div class="line">
        <span><strong>Series:</strong></span>
        {{ set.series }}
      </div>
      <p-divider></p-divider>
      <div class="line">
        <span><strong>Total Cards:</strong></span>
        {{ set.printedTotal }} (Secret Rares: {{getSecretRares()}})
      </div>
      <ng-template #footer>
        <div class="text-center">
          <p-button icon="pi pi-search" label="See Cards" [routerLink]="getLink()" [queryParams]="{name: set.name}"></p-button>
        </div>
      </ng-template>
    </p-card>
  } @else {
    TODO
  }
</div>

