.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  height: 30vh;
}

.img-container-logo {
  width: 100%;
}

.img-container-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 20%;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
