.avatar{
  position: relative;
}

.edit-avatar {
  position: absolute;
  bottom: 8px;
  right: 8px;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2; /* garante que fique por cima da imagem */
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.avatar img {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.col-2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container:hover .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.same-height {
  grid-auto-rows: 1fr !important;
}

.flex-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: end;
  flex-grow: 1;
  padding-top: 2px;
}
