.avatar{
  position: relative;
}

.edit-avatar {
  position: absolute;
  bottom: 8px;
  right: 8px;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2; /* garante que fique por cima da imagem */
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.avatar img {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 33vh;
}

.pointer {
  cursor: pointer;
}
