<div class="flex justify-content-end p-2">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-filter"></i>
    </p-inputgroup-addon>
    <p-select [options]="series" [(ngModel)]="selectedSerie" (onChange)="goToSection()"
              [style]="{'width': '100%', 'z-index': '10'}" placeholder="Select serie"></p-select>
  </p-inputgroup>
</div>


<div class="grid pt-2">
  <div class="lg:col-8 md:col-12 sm:col-12">
    <div class="grid">
      @for (serie of serieMap | keyvalue; track serie.key) {
          <p-divider [id]="serie.key" align="center" type="solid">{{ serie.key }}</p-divider>
          @for (set of serie.value; track set.id) {
            <div class="lg:col-6 md:col-6 sm:col-12 same-height align-content-center">
              <app-set-display-mini [set]="set" (click)="cardClick(set)"
                                    class="clicker blocking"></app-set-display-mini>
            </div>
          }
      }
    </div>
  </div>
  <div class="lg:col-4">
    <app-set-display-full [set]="selectedSet"></app-set-display-full>
  </div>
</div>

