@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px; /* Adjust this value for scaling */
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 10px #92BC2C;
}

.darkness {
  background: #595761;
  box-shadow: 0 0 10px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 10px #0C69C8;
}

.lightning {
  background: #F2D94E;
  box-shadow: 0 0 10px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 10px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 10px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 10px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 10px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 10px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 10px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 10px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 10px #75D0C1;
}

.colorless {
  background: #A0A29F;
  box-shadow: 0 0 10px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 10px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 10px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 10px #C9BB8A;
}

.metal {
  background: #5695A3;
  box-shadow: 0 0 10px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 10px #539DDF;
}
