.col-4 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.type {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin:auto;
  transition: 200ms all;
}

.type:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.type img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.ability-type {
  padding-right: .5rem;
  width: 100px
}

.grid-center {
  align-items: center;
}
