<p-drawer [(visible)]="visible" [fullScreen]="isMobileDevice()" [style]="{width:'25vw'}">
  <ng-template #header>
    <div style="width: 100%">
      @if (this.user != null) {
        <div class="flex justify-content-between">
          <div class="flex align-items-center">
            <div class="flex justify-content-around">
              <p-avatar class="mr-2" size="xlarge" shape="circle" [image]="user.image"/>
              <p class="text-xl">{{ this.user.nickname }}</p>
            </div>
          </div>
          <div class="flex align-items-center">
            <p-button icon="pi pi-sign-out" [rounded]="true" [text]="true" (click)="logout()" severity="danger" pTooltip="Logout" tooltipPosition="bottom"/>
          </div>
        </div>
      }
    </div>
  </ng-template>
  <p-menu [model]="items" class="flex justify-center" styleClass="w-full">
    <ng-template #submenuheader let-item>
      <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
      <a pRipple class="flex items-center p-menu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        @if (item.badge) {
          <p-badge class="ml-auto" [value]="item.badge" />
        }
      </a>
    </ng-template>
    <ng-template #end>
    </ng-template>
  </p-menu>
  <ng-template #footer>
    <div style="width: 100%">
      <div class="flex justify-content-center align-items-center gap-2">
        <i class="pi pi-sun"></i>
        <p-toggleswitch [ngModel]="isDarkMode()" (ngModelChange)="toggleDarkMode()"></p-toggleswitch>
        <i class="pi pi-moon"></i>
      </div>
    </div>
  </ng-template>
</p-drawer>

<div class="center">
  <div class="padding">
    <p-button (click)="openMenu()" [icon]="loadIcon()"/>
  </div>
</div>
